.background {
  //  background: url(http://s29.postimg.org/itr7woag7/heatherparkerphotography_132.jpg) no-repeat center;
//    background-size: cover;
}

.event-list-view, .item-list-view, .component-list-view, #order-guide tbody td, .back {
    cursor: pointer;
}

#menu-build-items tr, #menu-build-dropzone tr {
    cursor: grab;
    cursor: -webkit-grab;
    &:active {
        cursor: grabbing;
        cursor: -webkit-grabbing;
    }
    
}

thead {
    font-weight: bold;
}

.tag {
  background: #eee;
  border-radius: 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
}