<template name="newComponent">
  
  <div class="col-md-6">
  <form>
      <div class="form-group">
      <label for="component-name">Name: </label>
      <input type="text" class="form-control" id="component-name">
      </div>
      <div class="form-group">
      <label for="description">Description: </label>
      <input type="text" class="form-control" id="description">
      </div>
      <div class="form-group">
      <label for="unit">Measurement Unit: </label>
      <input type="text" class="form-control" id="unit">
      </div>
      <div class="form-group">
      <label for="cost">Cost: </label>
      <input type="number"  step = "0.01" class="form-control" id="cost">
      </div>
        <button type="submit" class="btn btn-default">Create Component</button>
  </form>
  </div>
</template>